<ion-header>
  <ion-toolbar>
    <ion-title >
      World Of Football
    </ion-title>
  </ion-toolbar>
       <ion-segment [scrollable]="true" mode="md" color="primary">
        <ion-segment-button value="home" color="dark">
          <ion-label>EUROPEAN</ion-label>
        </ion-segment-button>
        <ion-segment-button class="active">
          <ion-label>AFRICAN</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pin">
          <ion-label>ASIAN</ion-label>
        </ion-segment-button>
        <ion-segment-button value="star">
          <ion-label>OCEANIAN</ion-label>
        </ion-segment-button>
        <ion-segment-button value="call">
          <ion-label>SOUTH AMERICAN</ion-label>
        </ion-segment-button>
      </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-item  class="eu" lines="none" color="medium">
        <ion-label ><h1><strong>PREMIER LEAGUE</strong></h1></ion-label>
 <ion-note slot="end" class="sa">
  SHOW ALL
 </ion-note>
 </ion-item>


<swiper-container space-between="20" autoplay="true" [pagination]="{ clickable: true }" class="scroll-container">

    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>


    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>


    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>


    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>


    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>

  </swiper-container>




 <ion-item  class="eu" lines="none" color="medium">
        <ion-label ><h1><strong>BUNDESLIGA</strong></h1></ion-label>
 <ion-note slot="end" class="sa">
  SHOW ALL
 </ion-note>
 </ion-item>

 <swiper-container space-between="20" autoplay="true" [pagination]="{ clickable: true }" class="scroll-container">

    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>


    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>


    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>


    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>


    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>

  </swiper-container>



  <ion-item  class="eu" lines="none" color="medium">
        <ion-label ><h1><strong>PRIMERA LIGA</strong></h1></ion-label>
 <ion-note slot="end" class="sa">
  SHOW ALL
 </ion-note>
 </ion-item>

 <swiper-container space-between="20" autoplay="true" [pagination]="{ clickable: true }" class="scroll-container">

    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>


    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>


    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>


    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>


    <swiper-slide class="scroll-item" >

           <div class="inner">
          <h5><b>Tottenham hotspur win dramatically at wembley to secduii hdinhi</b></h5>
          </div>
          
    </swiper-slide>

  </swiper-container>
</ion-content>
