<ion-menu menuId="first-menu" contentId="main-content" type="push">
  <ion-header class="menu-header">
    <ion-item lines="none" color="#6157F" class="profileview">
      <ion-thumbnail slot="start">
        <img class="image" alt="" src="assets/user.png" />
      </ion-thumbnail>

      <ion-label>
        <strong style="color: aliceblue; font-size: larger">
          {{this.authservice.statusCheck().displayName}}
        </strong>
        <p style="color: aliceblue">{{this.authservice.statusCheck().email}}</p>
      </ion-label>
    </ion-item>
    <div class="shape"></div>
  </ion-header>

  <ion-content>
    <ion-list class="top">
      <ion-item lines="none" class="menu-items">
        <ion-icon
          class="menu-icons"
          name="bar-chart-outline"
          slot="start"
          id="profile-icons"
        ></ion-icon>
        <ion-label class="label-menu">Transfer Update</ion-label>
      </ion-item>
      <ion-item lines="none" class="menu-items">
        <ion-icon
          class="menu-icons"
          name="notifications-outline"
          slot="start"
          id="profile-icons"
        ></ion-icon>
        <ion-label class="label-menu">Notifications</ion-label>
      </ion-item>
      <ion-item lines="none" class="menu-items">
        <ion-icon
          class="menu-icons"
          name="share-social-outline"
          slot="start"
          id="profile-icons"
        ></ion-icon>
        <ion-label class="label-menu">Share with friends</ion-label>
      </ion-item>
      <ion-accordion-group class="menu-items">
        <ion-accordion value="first">
          <ion-item slot="header">
            <ion-icon
              class="menu-icons"
              name="bookmark-outline"
              slot="start"
              id="profile-icons"
            ></ion-icon>
            <ion-label class="label-menu">Favorites</ion-label>
          </ion-item>
          <div slot="content" class="accord">
            <ion-item
              lines="none"
              (click)="this.dataService.goToFavoritesClub()"
            >
              <ion-icon
                name="football-outline"
                slot="start"
                id="profile-icons"
              ></ion-icon>
              <ion-label class="label-menu">Clubs</ion-label>
            </ion-item>
            <ion-item
              lines="none"
              (click)="this.dataService.goToFavoritesPlayer()"
            >
              <ion-icon
                name="person-outline"
                slot="start"
                id="profile-icons"
              ></ion-icon>
              <ion-label class="label-menu">Players</ion-label>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>

    <ion-list class="bottom">
      <ion-item lines="none" id="log">
        <ion-icon
          class="menu-icons"
          name="log-out-outline"
          (click)="logOut()"
          slot="start"
          id="profile-icons"
        ></ion-icon>
        <ion-label class="label-menu">Log out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-item lines="none" class="top">
        <ion-avatar slot="start" class="profile-pic" (click)="openFirstMenu()">
        <img src="assets/user.png" alt="" />
        <ion-badge></ion-badge>
      </ion-avatar>
    <ion-searchbar class="searchbar" id="open-modal"></ion-searchbar
      >
      <ion-icon slot="end" name="ellipsis-horizontal-outline" class="settings" (click)="this.dataService.getSports()" ></ion-icon>
    </ion-item>

    <ion-segment [scrollable]="true" mode="md" (ionChange)="onCont()" [(ngModel)]="selectedCont">
      @for(segments of continents; track segments){
      <ion-segment-button [value]="segments.id">
        <ion-label>{{segments.name}}</ion-label>
      </ion-segment-button>

      }
    </ion-segment>
  </ion-header>

  <ion-modal trigger="open-modal">
    <ion-header>
      <ion-item lines="none">
        <ion-icon
          slot="start"
          name="arrow-back-outline"
          (click)="dismissModal()"
        ></ion-icon>
        <ion-searchbar
          placeholder="Show on Focus"
          class="sech"
          [(ngModel)]="searchv"
          [debounce]="1000"
          (ionInput)="this.typeService.search(searchv)"
        ></ion-searchbar>
      </ion-item>
    </ion-header>
    <ion-content class="ion-padding">
      <h1 class="les">Showing results of "{{searchv}}"</h1>

      <ion-list>
        @for (result of this.typeService.resClub(); track result) {
        <ion-item>
          <ion-label>{{ result.document.clubName }}</ion-label>
        </ion-item>
        }
      </ion-list>
    </ion-content>
  </ion-modal>

  <ion-content [fullscreen]="true">
    <swiper-container
      space-between="20"
      pagination="true"
      pagination-clickable="true"
      autoplay="true"
    >
      <swiper-slide class="scroll-item">
        <div class="inner">
          <h5>
            <b
              >Tottenham hotspur win dramatically at wembley to secduii
              hdinhi</b
            >
          </h5>
        </div>
      </swiper-slide>

      <swiper-slide class="scroll-item">
        <div class="inner">
          <h5>
            <b
              >Tottenham hotspur win dramatically at wembley to secduii
              hdinhi</b
            >
          </h5>
        </div>
      </swiper-slide>

      <swiper-slide class="scroll-item">
        <div class="inner">
          <h5>
            <b
              >Tottenham hotspur win dramatically at wembley to secduii
              hdinhi</b
            >
          </h5>
        </div>
      </swiper-slide>

      <swiper-slide class="scroll-item">
        <div class="inner">
          <h5>
            <b
              >Tottenham hotspur win dramatically at wembley to secduii
              hdinhi</b
            >
          </h5>
        </div>
      </swiper-slide>

      <swiper-slide class="scroll-item">
        <div class="inner">
          <h5>
            <b
              >Tottenham hotspur win dramatically at wembley to secduii
              hdinhi</b
            >
          </h5>
        </div>
      </swiper-slide>
    </swiper-container>

    <div class="LEAGUES">
      <div class="wrap">
        <ion-item
          lines="none"
          button="false"
          color="alice-blue"
          class="sections"
        >
          <h1 class="lig">
            <strong>
              <ion-select interface="popover" placeholder="LEAGUES" (ionChange)="onSelect()"[(ngModel)]="selectedLeague">
                @for(leagues of select; track leagues){
                <ion-select-option [value]="leagues.id">
                  <ion-item lines="none">
                    <ion-label class="radio"  >{{leagues.name}}</ion-label>
                    <ion-avatar slot="end">
                      <img src="{{leagues.emblem}}" alt="" />
                    </ion-avatar>
                  </ion-item>
                </ion-select-option>

                }
              </ion-select>
            </strong>
          </h1>
          <ion-note slot="end"> TABLE </ion-note>
        </ion-item>
      </div>
      <div class="kg">
        <div class="image-grid">
          @for(clubs of footBall; track clubs){
          <a (click)="goToDetails(clubs.id, $event)">
            <img src="{{clubs.logo}}" alt="Image 1" />
          </a>
          }
        </div>
      </div>

      <div class="top-players-section">
        <ion-item lines="none" color="alice-blue" class="sections">
          <ion-label
            ><h1><strong>TOP PLAYERS</strong></h1></ion-label
          >
          <ion-note slot="end"> SHOW ALL </ion-note>
        </ion-item>
        <div class="top-players">
          <div class="scroll-container">
            @for(players of topPlayer; track players){
            <div class="profile" (click)="goToPlayersInfo(players.id, $event)">
              <div>
                <img src="{{players.bgimg}}" alt="" />
              </div>

              <div class="inner2">
                <h6>{{players.firstName}}</h6>
                <h6>{{players.surnName}}</h6>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>

    <ion-item class="eu" lines="none">
      <ion-label
        ><h1><strong>EUROPE'S BEST</strong></h1></ion-label
      >
      <ion-note slot="end" class="sa"> SHOW ALL </ion-note>
    </ion-item>

    <div class="scroll-container">
      @for(profile of europeBest; track profile){
      <div class="europes-best">
        <div>
          <ion-avatar>
            <img src="{{profile.img}}" alt="" />
          </ion-avatar>
        </div>
        <div class="inner2">
          <h6>{{profile.surnName}}</h6>
          <h6>{{profile.firstName}}</h6>
        </div>
      </div>
      }
    </div>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="dataService.addEuropeBest()">
          <ion-icon name="person-add-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="showMultipleInputsAlert()">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="dataService.addClub()">
          <ion-icon name="add-circle"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>
</div>
