<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title size="large">
      Matchday!
    </ion-title>
  </ion-toolbar>
  <ion-segment [scrollable]="true" mode="md" color="primary">
        <ion-segment-button value="home" color="dark">
          <ion-label>EUROPEAN</ion-label>
        </ion-segment-button>
        <ion-segment-button class="active">
          <ion-label>AFRICAN</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pin">
          <ion-label>ASIAN</ion-label>
        </ion-segment-button>
        <ion-segment-button value="star">
          <ion-label>OCEANIAN</ion-label>
        </ion-segment-button>
        <ion-segment-button value="call">
          <ion-label>SOUTH AMERICAN</ion-label>
        </ion-segment-button>
      </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  
 
</ion-content>
