ion-buttons{
    margin-left: 12px;
    margin-top: 12px;
    
}
ion-back-button{
    font-size: 20px;
    color: black;
}
h1{
    margin-left: 10px;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 0px;
}