@if(this.dataService.faveClub()) {
<ion-header>
  <ion-buttons>
    <ion-back-button
      defaultHref="/tabs/tab1"
      text=""
      icon="arrow-back-outline"
    ></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-header collapse="condense">
    <ion-toolbar><h1>Your Picks</h1></ion-toolbar>

    <ion-segment [scrollable]="true" mode="md">
       @for(clubs of favorites; track clubs) {
      <ion-segment-button>
        <ion-label>{{clubs.clubName}}</ion-label>
      </ion-segment-button>
    }
    
    </ion-segment>
  </ion-header>

  <ion-content>
    <img src="" alt="" />
  </ion-content>

</ion-content>
} @if(!this.dataService.faveClub()) {
<ion-header>
  <ion-buttons>
    <ion-back-button
      defaultHref="/tabs/tab1"
      text=""
      icon="arrow-back-outline"
    ></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar><h1>Your Players</h1></ion-toolbar>

    <ion-segment [scrollable]="true" mode="md">
      @for(player of favoritePlayers; track player) {
      <ion-segment-button>
        <ion-label>{{player.firstName}} {{player.surnName}}</ion-label>
      </ion-segment-button>
      }
    </ion-segment>
  </ion-header>
</ion-content>
}
