@if(showClubs) {
<ion-header>
  <ion-buttons slot="start">
    <ion-back-button
      defaultHref="/tabs/tab1"
      text=""
      icon="arrow-back-outline"
    ></ion-back-button>
  </ion-buttons>
  <h1>Your Picks</h1>
  <ion-segment
    [scrollable]="true"
    mode="md"
    [(ngModel)]="selectedClub"
    (ionChange)="onClubSegmentChange()"
  >
    @for(clubs of favorites; track clubs) {
    <ion-segment-button [value]="clubs.id">
      <ion-label>{{clubs.clubName}}</ion-label>
    </ion-segment-button>
    }
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="{{ClubData?.image}}" alt="" />
</ion-content>

} @if(showPlayers) {

<ion-header>
  <div class="top">
    <ion-back-button
      slot="start"
      defaultHref="/tabs/tab1"
      text=""
      icon="arrow-back-outline"
    ></ion-back-button>
    <h1>Your Players</h1>
  </div>
  <ion-segment
    [scrollable]="true"
    mode="md"
    [(ngModel)]="selectedPlayer"
    (ionChange)="onPlayerSegmentChange()"
  >
    @for(player of favoritePlayers; track player) {
    <ion-segment-button [value]="player.id">
      <ion-label>{{player.firstName}} {{player.surnName}}</ion-label>
    </ion-segment-button>
    }
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="player-stats-container">
    <img src="{{PlayerData?.bgimg}}" alt="" />
    <div class="overview">
      <div class="player-fname">{{PlayerData?.firstName}}</div>
      <div class="player-name">{{PlayerData?.surnName}}</div>
      <div class="player-position">
        <span class="shirt">10</span>-Central Midfield
      </div>

      <div class="stat">
        <div class="profile">
          <div class="some">
            <h1 class="value">200</h1>
            <h1 class="value">cm</h1>
          </div>
          <div class="inner2">
            <span>Height</span>
          </div>
        </div>

        <div class="profile">
          <div class="some">
            <span class="value">38</span>
          </div>
          <div class="inner2">
            <span>Age</span>
          </div>
        </div>

        <div class="profile">
          <div class="some">
            <span class="value">38</span>
            <br />
            <span class="value">kg</span>
          </div>
          <div class="inner2">
            <span>Weight</span>
          </div>
        </div>

        <div class="profile">
          <div class="pome">
            <img
              src="https://cdn-icons-png.flaticon.com/512/919/919495.png"
              alt=""
            />
            <!-- <span class="value">38</span> -->
          </div>
          <div class="inner2">
            <span>Left</span>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</ion-content>

}
