<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/tabs/tab1"
        text=""
        icon="arrow-back-outline"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="tooltitle">
      <div class="clubhead">
        <img src="{{data?.image}}" alt="" />
        <div class="clubs">
          <h4>
            <strong>{{data?.clubName}}</strong>
          </h4>
          <p>England</p>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="contenttitle">
      <div class="contenthead">
        <div class="flex">
          <img src="{{data?.image}}" alt="" />
          
          <div class="clubs">
            <strong>{{data?.clubName}}</strong>
              <p>England</p>
          </div>
        </div>
        <ion-icon
          name="bookmark-outline"
          (click)="iconAn()"
          class="save-icon"
          slot="end"
        ></ion-icon>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <swiper-container
      space-between="20"
      pagination="true"
      pagination-clickable="true"
      autoplay="true"
    >
      <swiper-slide class="scroll-item">
        <div class="inner">
          <h5>
            <b
              >Tottenham hotspur win dramatically at wembley to secduii
              hdinhi</b
            >
          </h5>
        </div>
      </swiper-slide>

      <swiper-slide class="scroll-item">
        <div class="inner">
          <h5>
            <b
              >Tottenham hotspur win dramatically at wembley to secduii
              hdinhi</b
            >
          </h5>
        </div>
      </swiper-slide>

      <swiper-slide class="scroll-item">
        <div class="inner">
          <h5>
            <b
              >Tottenham hotspur win dramatically at wembley to secduii
              hdinhi</b
            >
          </h5>
        </div>
      </swiper-slide>

      <swiper-slide class="scroll-item">
        <div class="inner">
          <h5>
            <b
              >Tottenham hotspur win dramatically at wembley to secduii
              hdinhi</b
            >
          </h5>
        </div>
      </swiper-slide>

      <swiper-slide class="scroll-item">
        <div class="inner">
          <h5>
            <b
              >Tottenham hotspur win dramatically at wembley to secduii
              hdinhi</b
            >
          </h5>
        </div>
      </swiper-slide>
    </swiper-container>

    <div class="nextmatch">
      <h4>
        <strong> Next Match </strong>
      </h4>
      <div class="chart"></div>
    </div>

    <div class="form">
      <h4>
        <strong> Form </strong>
      </h4>
      <div class="chart"></div>
    </div>

    <div class="formation">
      <h4>
        <strong> Frequent Formation </strong>
      </h4>
      <div class="chart">
        <img
          src="https://thefalse9.com/wp-content/uploads/2024/07/man-united-formation-new-season.jpg"
          alt=""
        />
      </div>
    </div>

    <div class="formation">
      <h4>
        <strong> Players </strong>
      </h4>
      <div class="chart"></div>
    </div>


    <div class="formation">
      <h4>
        <strong> History </strong>
      </h4>
      <div class="chart">
        <img
          src=""
          alt=""
        />
      </div>
    </div>
    <ion-button (click)="dataService.clubDelete(data.id)">delete</ion-button>
  </div>
</ion-content>
